@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-[#181818] tracking-wide;
    font-family: 'Mukta', sans-serif;
}


.bg-me {
    background: url("../src/assets/me.jpg");
    @apply bg-cover h-full w-full absolute top-0 right-0 bottom-0 left-0 bg-no-repeat aspect-square bg-center;
}

.bg-me:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #256D85 linear-gradient(to left top, #06283D, #256D85);
    opacity: 0.4;
}

.left {
    @apply md:w-1/2 w-full h-screen float-left text-center overflow-hidden md:fixed sm:block;
}
.left-inner {
    @apply absolute top-[75%] left-1/2 -translate-y-[75%] -translate-x-1/2 w-full text-white;
}

.left-inner h1{
    @apply font-semibold text-2xl;
}

.right {
    @apply float-right;
}

.right .section-title {
    @apply md:text-xl text-lg uppercase font-bold underline underline-offset-8 md:w-[20%] w-full ;
}

.section-container {
    @apply flex md:flex-row flex-col sm:gap-20 gap-3 items-baseline justify-start  mb-10 hover:bg-[#eeeeee] rounded-md p-3;
}

.right-inner .content {
    @apply text-lg md:text-justify text-left;
}

.right-inner .content > p {
    @apply mb-2;
}

/*.right .section-title::after {*/
/*    content: " :";*/
/*}*/

.left, .right {
    @apply md:w-1/2 sm:w-full md:inline-block sm:block align-top;
}

.left-inner, .right-inner {
    @apply p-[50px];
}

.start-end-date {
    @apply text-sm font-light text-gray-700;
}

.text-gradient {
    background: linear-gradient(90.13deg, #1C7CE0 .11%, #150051 25.06%, #1C7CE0 50%, #86bff2 74.8%, #150051 99.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.job-pls {
    background: -webkit-linear-gradient(45deg, #2A54F5 0%, #33E5BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume-link {
    @apply rounded-lg p-5 block mx-auto text-center w-fit bg-[#eeeeee] uppercase;
}

