@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-[#181818] tracking-wide;
    font-family: 'Mukta', sans-serif;
}

.left-side {
    @apply fixed h-full float-left overflow-hidden;
}

.bg-me {
    background: url("../src/assets/me.jpg");
    @apply bg-cover h-full w-full absolute top-0 right-0 bottom-0 left-0 bg-no-repeat aspect-square bg-center;
}

.bg-me:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #256D85 linear-gradient(to left top, #06283D, #256D85);
    opacity: 0.4;
}

.left {
    @apply w-1/2 h-full float-left text-center overflow-hidden fixed;
}

.right {
    float: right;
}

.right .section-title {
    @apply md:text-xl text-lg uppercase font-bold underline underline-offset-8 w-[20%] ;
}

.section-container {
    @apply flex  items-baseline justify-start gap-20 mb-10 hover:bg-[#eeeeee] rounded-md p-3;
}

.right-inner .content {
    @apply text-lg text-justify;
}

.right-inner .content > p {
    @apply mb-2;
}

/*.right .section-title::after {*/
/*    content: " :";*/
/*}*/

.left, .right {
    @apply w-1/2 inline-block align-top;
}

.left-inner, .right-inner {
    @apply p-[50px];
}

.start-end-date {
    @apply text-sm font-light text-gray-700;
}

.text-gradient {
    background: linear-gradient(90.13deg, #1C7CE0 .11%, #150051 25.06%, #1C7CE0 50%, #86bff2 74.8%, #150051 99.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.job-pls {
    background: -webkit-linear-gradient(45deg, #2A54F5 0%, #33E5BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

